{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %} 
    <div class='contener_form'>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{message}}</div>
      {% endfor %}
      <div class="form">
        <form method='POST'>
          <label for="text">veillez entrer le mail ou le Nom d'utilisateur de votre compte</label>
          <input type="text" name="text" id="text" placeholder="Exemple@gmail.com" />
          <button type="submit" >Suivant</button>
        </form>
      </div>
    </div>
{%endblock%}