{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
    <div class='contener_form'>
        <h2>
          Veillez entrer un nouveau mot de passe
        </h2>
        {% for message in get_flashed_messages() %}
           <div class="flash">{{message}}</div>
        {% endfor %}
        <div class="form1">
            <form method='POST'>
                <label for="password">Nouveau mot de passe</label>
                <input type="password" name="password" id="password" placeholder="0000" />
                <br/>
                <label for="password1">Confirmer le nouveau mot de passe</label>
                <input type="password" name="password1" id="password1" placeholder="0000" />
                <button type="submit" >Valider</button>
            </form>
        </div>
    </div>
{%endblock%}