{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
    <div class='contener_form'>
        <h2>
          Veillez entrer un nouveau mot de passe
        </h2>
        <div class="form1">
            <form >
            <label for="new">Nouveau mot de passe</label>
            <input type="password" name="prikey" id="new" placeholder="0000" />
            <br/>
            <label for="verpwd">Confirmer le nouveau mot de passe</label>
            <input type="password" name="nomservice" id="verpwd" placeholder="0000" />
            </form>
            <a href="#">Valider</a>
        </div>
    </div>
{%endblock%}