@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1 400&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a, button{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

/* .flash{
    width: 60%;
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
} */

.alert-success {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    border: 1px solid #a94442;
    color: #a94442;
}

.alert-info {
    background-color: #dee2f2;
    border: 1px solid #000D82;
    color: #000D82;
}

/* css de la nav bar */

nav {
    height: 120px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
   }

nav .nav{
    height: 90%;
    width: 100%;
    display: flex;

}

nav .trait_bleu{
    height: 50px;
    width: 100%;
    background-color: #000D82;
}

nav .nav .nav_bar_admin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .nav .nav_bar_admin .logos-case{
    height: 75%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .nav .nav_bar_admin .logos-case img{
    height: 90%;
    width: 40%;
}

nav .nav .nav_bar_admin .notification-case{
    height: 90%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .nav .nav_bar_admin .notification-case img{
    height: 30%;
    width: 50%;
}

nav .nav .nav_bar{
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav .nav .nav_bar .logos-case{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav .nav .nav_bar .logos-case img{
    height: 90%;
    width: 40%;
}

nav .nav .nav_bar .notification-case{
    height: 90%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .nav .nav_bar .notification-case img{
    height: 30%;
    width: 50%;
}

nav .nav .nav_bar .search {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;

}

nav .nav .nav_bar .search input {
    border: #000D82 1px solid ;
    background: #f1f1f1;
    min-width: 100px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}

nav .nav .nav_bar .search button {
    width: 40px;
    height: 40px;
    border: #000D82 1px solid
}

nav .nav .nav_bar .search img {
    width: 40px;
    height: 35px;
}

nav .nav .nav_bar .user {
    height: 1px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 70px;

}

nav .nav .nav_bar .user img {
    width: 40px;
    height: 40px;
}

nav .nav .nav_bar .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

nav .nav .nav_bar .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav_bar .user a {
    background:#1D5C00;
    padding: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    margin-left: 5%;
    color: white;
    text-align: center;
}
ul a:hover{
    color:black;
    background-color: white;
}
ul a{
    color: white;
}
ul{
 margin-right: 80px;   
}


.nav_bar .user img {
    margin-left: 5%;
    color: white;
    text-align: center;
}

.nav_bar .user a:hover {
    color:#000D82;
    background: white;
    border: 0.5px solid #1D5C00;
}


/*  bar de filtrage  */

.side-menu {
    background: #000D82;
    width: 20%;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-right: 45px;

}

.mini-side-menu{
    width: 18%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 130px;
}

.side-menu .div{
    margin-left: 50px;
} 


.side-menu-admin {
    background: #000D82;
    width: 15%;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 50px;
}

/* .side-menu h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
} */
.side-menu div {
    width: 100%;
    /* margin-bottom: 15px; */
}

.side-menu .mini-side-menu div:hover,
.side-menu .mini-side-menu div:active {
    background: white;
}

.side-menu .mini-side-menu div a:hover,
.side-menu .mini-side-menu div a:active {
    color:#1D5C00;
}

.side-menu .mini-side-menu div a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.side-menu-admin div {
    width: 90%;
    margin-bottom: 15px;
}

.side-menu-admin div:hover,
.side-menu-admin div:active {
    background: white;
    border: #1D5C00 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}

.side-menu-admin div a:hover,
.side-menu-admin div a:active {
    color:#1D5C00;
}

.side-menu-admin div a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

ul{
    list-style: none;
    font-size: 20PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 /* div_logo et logo  */

nav .div_logo{
    padding-left: 100px;
    width: 100%;
    height: 90px;
 }

.div_logo img {
    height: 85px;
    width: 180px;
  }


  
 /* ..................................Header Connnexion........................................................... */
 .header{
     height: 150px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000D82 ;
     position: sticky;
     top: 0;
 }
 
 .header img {
     height: 60%;
     width: 200px;
   }

 /* ..................................................Main Connexion.......................................... */

.mainConnexion{
     height: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     padding-top: 60px;
 }
 
 .connexion, .colocations {
     padding: 10px;
     height: 300px;
     width: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .bleu{
    margin-bottom: 30px;
    font-size: 40px;
    color: #000D82;
 }
 
 .form-group {
     margin-bottom: 15px;
 }
 
 .form-control{
     height: 30px;
     width: 450px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }
 
 .colocations  .btn {
     margin-top: 10px;
     height: 30px;
     width: 460px;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     background-color: #000D82;
     border: none;
 }
 
 
 .btn1{
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     border: none;
 }
 
 .checkboxConnecion{
     display: flex;
     justify-content: space-between;
     height: 30px;
     width: 450px;
     padding: 10px;
     color: gray;
 }
.colocations hr{
    border : 1px solid #CCC;
}


/* mot de passe oublié */

.main {
    /* margin-top: 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

main .contener_form{
    margin-top: 150px;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main .form{
    width: 100%;
    padding: 30px;
    display: flex;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .form1{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form1 input {
    margin-top: 10px;
    width: 400px;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .contener_form h2,p{
    color: #000D82;
    margin-bottom: 10px;
}

main .form button, .form1 button {
    width: 150px;
    height: 30px;
    margin-top: 28px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1D5C00;
}

 
/* trait de progression inscription */

.mainone ul {
    padding-top: 30px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainone ul .trait1{
    border-color: #1D5C00;
    border-style: dotted;
    border-width: 2px;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

.mainone ul .trait2{
    background-color: #1D5C00;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

#pI{
    height: 30px;
    width: 40px;
    border-radius: 50% ;
    color: white;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pI2{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-color: green;
    border-style: dotted;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* ............main inscriptioninfos ....... */

main .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainone{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainone div{
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: #000D82 solid 1px;
}

 .mainInscription{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2px;
 }
 
 .mainSecond{
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .form-groupInscri{
     display: flex; 
     flex-direction: column;
     padding: 10px;
     color: #000D82;
     font-size: 25px;
 }
 
 .form-groupLogo{
     width: 30px;
     width: 250px;
     display: flex; 
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     color: #000D82;
     border: 1px dashed black;
     margin-top: 80px;
 }
 
 .form-control2{
     height: 30px;
     width: 550px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
     padding-left: 1em;
     margin-top: 4.5px;
 }


.form-groupInscriAdresse{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 15px;
     color: #000D82;
     align-items: center;
}

.Adresse{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 1.5em;
}

.form-control3{
     height: 100px;
     width: 140px;
     margin-bottom: 10px;
    
}
.form-control3 form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}


.form-control3 form select{
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 5px;
    border : 3px solid #000D82;
   
}

.btninscri{
     height: 30px;
     width: 100px;
     color: #000D82;
     border : 1px solid #000D82;
     border-radius: 5px;
     background-color: #FFF;
     display: flex;
     justify-content: center;
     align-items: center;
}

.btninscri2{
     height: 30px;
     width: 100px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     display: flex;
     justify-content: center;
     align-items: center;
}


.footerinscri{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 25px; */
    gap: 1em;
    margin: 5px;
}


/* .....................main inscriptionacces .......................... */


.mainSecondSer1{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.mainSecondSer2{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainSecondSer2 table
{
    margin-top: 15px;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    
}
.mainSecondSer2 table caption
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.mainSecondSer2 table tr
{
    border: none !important;
}
.mainSecondSer2 table tr th
{
    color: grey;
    text-align: center;
}
.mainSecondSer2 table td
{
    text-align: center;
}

.mainSecondSer2 table tr:nth-child(odd) {
    background-color: transparent;
}

.mainSecondSer2 table tr:nth-child(even) {
    background-color: rgb(218, 218, 218);
}
.mainSecondSer2 edit{
    display: flex;
    justify-content: space-around;
    
}


#entete{
    width:800px;
    height: 10px;   
}

.btn6-row
{
    color: white;
    /* border: solid rgb(0, 103, 144) 1.5px; */
    border: transparent;
    background-color: #000D82;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}
.tete{
    height: 30px;
    width: 127px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

.tete th{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

tr{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: gray;
}



/*  MON HôPITAL*/

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}


.main .container {
    width: 75%;
    height: 100vh;
    margin-right: 30px;
}

.container  .cards {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.container .cards .card {
    width: 23%;
    height: 100px;
    background: white;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container  .cardsm {
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
} 

.container .cardsm .cardm {
    width: 20%;
    height: 50px;
    background: white;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .cardsm .cardm form,select{
    width: 100%;
    height: 40px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
}

.container .cards .card .box { 
    width: 50%; 
    height: 50%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
} 
.container .cards .card .box h1, 
.container .cards .card .box h3 { 
    margin: 0; 
} 
.container .cards .card .icon-case { 
    width: 30%; 
    height: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
} 
.container .cards .card .icon-case img { 
    width: 50%; 
    height: 30%; 
}


.container .content-2 {
    min-height: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


.container  .content-2 .recent-payments {
    min-height: 50vh;
    width: 105%;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    ;
}

.main .container-admin {
    width: 90%;
    height: 100vh;
}

.container-admin .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.container-admin .cards-center {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.container-admin .cards .card {
    width: 23%;
    height: 100px;
    background: white;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-admin  .cardsm {
    width: 60%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
} 

.container-admin .cardsm .cardm {
    width: 20%;
    height: 50px;
    background: white;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-admin .cardsm .cardm form,select{
    width: 100%;
    height: 40px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
}

.container-admin .cards .card .box { 
    width: 50%; 
    height: 50%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
} 
.container-admin .cards .card .box h1, 
.container-admin .cards .card .box h3 { 
    margin: 0; 
} 
.container-admin .cards .card .icon-case { 
    width: 30%; 
    height: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
} 
.container-admin .cards .card .icon-case img { 
    width: 50%; 
    height: 30%; 
}

.container-admin .content-2 {
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
}

.container-admin.content-2 .recent-payments {
    margin-top: 40px;
    width: 70%;
    min-height: 90vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.historique
{
    width: 100%;
    align-items: center;
}
.historique table
{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}
.historique table caption
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.historique table tr
{
    border: none !important;
}
.historique table tr th
{
    color: grey;
    text-align: center;
}
.historique table td
{
    text-align: center; 
}

.historique table tr:nth-child(odd) {
    background-color: transparent;
}

.historique table tr:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

.historique table th:first-child {
    text-align: left;
}

.historique table td:first-child {
    text-align: left;
}


.demande{
    width: 100%;
    align-items: center;
}

.demande table{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}

.demande table caption{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.demande table tr{
    border: none !important;
}
.demande table tr th
{
    color: grey;
    text-align: center;
}
.demande table td
{
    text-align: center; 
}

.demande table tr:nth-child(odd) 
{
    background-color: transparent;
}
.demande table tr:nth-child(even) 
{
    background-color: rgb(218, 218, 218);
}

.demande table th:first-child {
    text-align: left;
}

.demande table td:first-child {
    text-align: left;
}

.inscrit
{
    width: 100%;
    align-items: center;
}
.inscrit table
{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}
.inscrit table caption
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}
.inscrit table tr
{
    border: none !important;
}
.inscrit table tr th
{
    color: grey;
    text-align: center;
}
.inscrit table td
{
    text-align: center; 
}

.inscrit table tr:nth-child(odd) 
{
   background-color: transparent;
}

.inscrit table tr:nth-child(even) 
{
    background-color: rgb(218, 218, 218);
}

.inscrit table th:first-child {
    text-align: left;
}

.inscrit table td:first-child {
    text-align: left;
}

.container  .content-2 .disponibilite {
    min-height: 80vh;
    width: 97%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content-X {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container  .content-2 .disponibilite form .title input{
  width: 140px;
  height: 50px;  
  background-color: #1D5C00;
  color: white;
  font-size: 18px;
  border-radius: 10px ;
  border: 0.5px solid;
  cursor: pointer;
}

.container  .content-2 .disponibilite form .title input:hover{
    background-color: white;
    color: black;
}

.container .content-2 img {
    width: 40px;
    height: 40px;
}

.container .content-2 .new-students {
    background: white;
    min-height: 20%;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content-2 .transfert_form {
    background: white;
    width: 22%;
    height: 80vh;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
 }

.container .confirme_transfert{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-admin  .content-2 .disponibilite {
    min-height: 80vh;
    width: 75%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-admin .content-2 .new-students {
    background: white;
    min-height: 20%;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container-admin .content-2 .transfert_form {
    background: white;
    width: 22%;
    height: 80vh;
    margin-right: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container-admin .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
 }

.container-admin .confirme_transfert{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*......................................Main Mon profile......................................... */ 
 
.Orlder{ 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
 
} 
 
.mainAlpha{ 
    height: 600px; 
    width: 60%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin : 35px; 
    padding: 20px; 
    border : 3px solid black; 
    border-radius: 5%; 
} 
 
.mainBravo{ 
    height: 100%; 
    width: 100%; 
    display: flex; 
} 
 
.mainP2{ 
    height: 100%; 
    width: 60%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
} 
 
.mainP1{ 
    height: 250PX; 
    width: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border : 20px solid #1D5C00; 
    border-radius: 50%; 
} 
 
.form-profile{ 
    display: flex; 
    flex-direction: column;
    padding: 10px;
    color: #000D82; 
} 
 
 
.form-controlProfi{ 
    height: 30px; 
    width: 300px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
} 
 
.form-profile2{ 
    display: flex; 
    flex-direction: column; 
    padding: 10px; 
    color: #000D82; 
 
} 
 
 
.form-controlProfi2{ 
    height: 30px; 
    width: 400px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
} 
 
 
.mainbtnpro{ 
    height: 30px; 
    width: 100px; 
    color: white; 
    border : 1px solid #000D82; 
    border-radius: 5px; 
    background-color: #000D82; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
#btnPRO{ 
    height: 30px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.form-controlprofil{ 
    height: 25px; 
    width: 127px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
} 
 
.form-insertlogo{ 
    height: 200px; 
    width: 250px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px; 
    margin: 10px; 
    color: #000D82; 
    border : 20px solid #000D82; 
    border-radius: 50%; 
} 
 
.Adresse{ 
    height: 30px; 
    width: 400px; 
} 

.btn4-row
{
    color: white;
    /* border: solid rgb(0, 103, 144) 1.5px; */
    border: transparent;
    background-color: #ffc000;
    border-radius: 5px;
    text-align: center;
}

.btn5-row
{
    color: white;
    /* border: solid rgb(0, 103, 144) 1.5px; */
    border: transparent;
    background-color: #ff0000;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.btn4-row a,
.btn5-row a,
.btn6-row a
{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.right
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right .right-center-pop
{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right .right-center-pop p
{
    font-size: 25px;
    font-weight: bold;
    color: #000D82;
}
.right .right-center-pop .pop-up
{
    height: 55%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right .right-center-pop .pop-up p
{
    height: 60%;
    width: 70%;
    font-weight: 100;
    font-size: 20px;
    color: white;
    border: solid #000D82 1px;
    text-align: center;
    border-radius: 15px;
    background-color: #1D5C00;
    padding-top: 40px;
    padding-bottom: 30px;
}

.btn
{
    width:  60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.btn4
{
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 25%;
    height: 40%;
    border: solid #000D82 1px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

.btn5
{
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 25%;
    height: 40%;
    border: solid #000D82 1px;
    background-color: #1D5C00;
    border-radius: 5px;
    text-align: center;   
    margin-left: 10px; 
}
.btn4 a,
.btn5 a,
.btnX a
{
    font-size: 20px;
    color: #000D82;
}
.btnX
{
    font-size: 20px;
    color: #000D82;
    text-decoration: none;
    border: solid #000D82 1px;
    border-radius: 5px;
    text-align: center;   
    margin-left: 10px; 
}

/*......................................Main Mon profile pour la vue de l'Admin......................................... */ 
 
.profil-view{ 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
 
.view-main{ 
    min-height: 800px; 
    width: 70%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin : 30px; 
    padding: 40px 20px; 
    border : 3px solid #000D82; 
    border-radius: 5%; 
} 

.view-main form{ 
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-divBravo{ 
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
} 

 
 
.divBravo2{ 
    height: 100%; 
    width: 60%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
} 
 
.divBravo{ 
    height: 250PX; 
    width: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border : 20px solid #1D5C00; 
    border-radius: 50%; 
} 
 
.input-profile{ 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    padding: 10px; 
    color: #000D82; 
} 
 
 
.input-controlProfi{ 
    height: 30px; 
    width: 300px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
}
 
.input-controlProfi2{ 
    height: 30px; 
    width: 400px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
} 
 
.BtnView{
    height: 100%;
    width: 30%;
    color: white;
    border-radius: 5px;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.btn-view{ 
    height: 30px; 
    width: 100px; 
    color: white; 
    border : 1px solid #000D82; 
    border-radius: 5px; 
    background-color: #000D82; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.BtnW{ 
    height: 100px; 
    width: 30%; 
    color: white;  
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-top: 15px;
} 
.BtnW1{
    height: 100%;
    width: 47%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnW2 a
{
    font-size: 20px;
    color: white;
}

.BtnW2{
    height: 100%;
    width: 47%;
    color: white;
    border-radius: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#btn-view{ 
    height: 30px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.input-controlprofil{ 
    height: 25px; 
    width: 127px; 
    color: black; 
    border-radius: 5px; 
    border : 3px solid #000D82; 
} 
 
.profile-insertlogo{ 
    height: 200px; 
    width: 250px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 10px; 
    margin: 10px; 
    color: #000D82; 
    border : 20px solid #000D82; 
    border-radius: 50%; 
} 
 
.Adresse{ 
    height: 30px; 
    width: 400px; 
} 

.view-main2{
    width: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.view-main2 table
{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
}

.view-main form p,
.view-main2 table caption
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000D82;
}
.view-main2 table tr
{
    border: none !important;
}
.view-main2 table tr th
{
    color: grey;
    text-align: center;
}
.view-main2 table td
{
    text-align: center; 
}
.view-main2 table tr:nth-child(odd) 
{
    background-color: transparent;
}
.view-main2 table tr:nth-child(even) 
{
    background-color: rgb(218, 218, 218);
}

.view-main2 table th:first-child {
    text-align: left;
}

.view-main2 table td:first-child {
    text-align: left;
}