@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1 400&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

<<<<<<< HEAD
=======
.flash{
    width: 60%;
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
>>>>>>> 40acb59e2b759155b3fdf47222c259e94d2d0c70

/* css de la nav bar */

nav {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
   }

nav .nav{
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
}

nav .trait_bleu{
    height: 30px;
    width: 100%;
    background-color: #000D82;
 }

 nav .nav .nav_bar{
    padding-top: 30px;
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
 }


nav .nav .nav_bar .search {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

nav .nav .nav_bar .search input[type=text] {
    border: solid;
    background: #f1f1f1;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

nav .nav .nav_bar .search button {
    width: 40px;
    height: 40px;
    border: none;
}

nav .nav .nav_bar .search img {
    width: 100px;
    height: 100px;
}

nav .nav .nav_bar .user {
    display: flex;
    width: 40%;
}

nav .nav .nav_bar .user img {
    width: 40px;
    height: 40px;
}

nav .nav .nav_bar .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

nav .nav .nav_bar .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav_bar .user a {
    background:#1D5C00;
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    margin-left: 5%;
    color: white;
    text-align: center;
}

.nav_bar .user img {
    margin-left: 5%;
    color: white;
    text-align: center;
}

.nav_bar .user a:hover {
    color:#000D82;
    background: white;
    padding: 3px 8px;
    border: 2px solid #1D5C00;
}


/*  bar de filtrage  */

.side-menu {
    background: #000D82;
    width: 20%;
    /* min-height: 100vh; */
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.side-menu h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color:#1D5C00;
}




 /* div_logo et logo  */

nav .div_logo{
    padding-left: 100px;
    width: 100%;
    height: 90px;
 }

.div_logo img {
    height: 85px;
    width: 180px;
  }


  
 /* ..................................Header Connnexion........................................................... */
 .header{
     height: 150px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000D82 ;
     position: sticky;
     top: 0;
 }
 
 .header img {
     height: 60%;
     width: 200px;
   }

 /* ..................................................Main Connexion.......................................... */

.mainConnexion{
     height: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     padding-top: 60px;
 }
 
 .connexion, .colocations {
     padding: 10px;
     height: 300px;
     width: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .bleu{
    margin-bottom: 30px;
    font-size: 40px;
    color: #000D82;
 }
 
 .form-group {
     margin-bottom: 15px;
 }
 
 .form-control{
     height: 30px;
     width: 450px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }
 
 .colocations  .btn {
     margin-top: 10px;
     height: 30px;
     width: 460px;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
     background-color: #000D82;
     border: none;
 }
 
 
 .btn1{
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     border: none;
 }
 
 .checkboxConnecion{
     display: flex;
     justify-content: space-between;
     height: 30px;
     width: 450px;
     padding: 10px;
     color: gray;
 }
.colocations hr{
    border : 1px solid #CCC;
}


/* mot de passe oublié */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
} 

main .contener_form{
    margin-top: 150px;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main .form{
    width: 100%;
    padding: 30px;
    display: flex;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .form1{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form1 input {
    margin-top: 10px;
    width: 400px;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .contener_form h2,p{
    color: #000D82;
    margin-bottom: 10px;
}

main .form a, .form1 a {
    width: 150px;
    height: 30px;
    margin-top: 28px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1D5C00;
}

 
/* trait de progression inscription */

.mainone ul {
    padding-top: 30px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainone ul .trait1{
    border-color: #1D5C00;
    border-style: dotted;
    border-width: 2px;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

.mainone ul .trait2{
    background-color: #1D5C00;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

#pI{
    height: 30px;
    width: 40px;
    border-radius: 50% ;
    color: white;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pI2{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-color: green;
    border-style: dotted;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* ............main inscriptioninfos ....... */

main .info{
    display: flex;
    flex-direction: column;
}


.mainone div{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .mainInscription{
     height: 380px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2px;
 }
 
 .mainSecond{
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .form-groupInscri{
     display: flex; 
     flex-direction: column;
     padding: 10px;
     color: #000D82;
 }
 
 .form-groupLogo{
     width: 30px;
     width: 250px;
     display: flex; 
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     color: #000D82;
     border: 1px dashed black;
 }
 
 .form-control2{
     height: 30px;
     width: 550px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }


.form-groupInscriAdresse{
     display: flex;
     flex-direction: column;
     padding: 10px;
     color: #000D82;
}

.Adresse{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control3{
     height: 30px;
     width: 127px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
    
 }

.btninscri{
     height: 30px;
     width: 100px;
     color: #000D82;
     border : 1px solid #000D82;
     border-radius: 5px;
     background-color: #FFF;
     display: flex;
     justify-content: center;
     align-items: center;
}

.btninscri2{
     height: 30px;
     width: 100px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     display: flex;
     justify-content: center;
     align-items: center;
}


.footerinscri{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn3{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}


/* .....................main inscriptionacces .......................... */


.mainSecondSer1{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mainSecondSer2{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

#entete{
    width:800px;
    height: 10px;   
}

 .btninscriAjL{
    height: 30px;
    width: 135px;
    color: white;
    border-radius: 5px;
    background-color: #000D82;
    text-align: center;
    align-items: center;
}

.tete{
    height: 30px;
    width: 127px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

.tete th{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

tr{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: gray;
}



/*  MON HôPITAL */

 .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}


.main .container {
    width: 90%;
    height: 100vh;
}

.container  .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

.container .cards .card {
    width: 23%;
    height: 100px;
    background: white;
    margin: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container .cards .card .box {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.container .cards .card .box h1,
.container .cards .card .box h3 {
    margin: 0;
}
.container .cards .card .icon-case {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container .cards .card .icon-case img {
    width: 50%;
    height: 30%;
}

.container .content-2 {
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.container  .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content-2 .new-students {
    background: white;
    min-height: 20%;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
 }
