* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}


 /* ..................................Header Connnexion........................................................... */
 .header{
     height: 150px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000D82 ;
 }
 
 .header img {
     height: 60%;
     width: 200px;
   }
 
 
 /* ..................................................Main Connexion.......................................... */
 
 .mainConnexion{
     height: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     padding-top: 60px;
 }
 
 .connexion, .colocations {
     padding: 10px;
     height: 300px;
     width: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .bleu{
    margin-bottom: 30px;
    font-size: 40px;
    color: #000D82;
 }
 
 .form-group {
     margin-bottom: 15px;
 }
 
 .form-control{
     height: 30px;
     width: 450px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }
 
 .btn {
     margin-top: 10px;
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #000D82;
     border: none;
 }
 
 
 .btn1{
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     border: none;
 }
 
 .checkboxConnecion{
     display: flex;
     justify-content: space-between;
     height: 30px;
     width: 450px;
     padding: 10px;
     color: gray;
 }
.colocations hr{
    border : 1px solid #CCC;
}
 
 /* ..................................................Inscriptiooninfo.......................................... */
 
  /* .............Header inscription ....... */
 
  nav {
     height: 150px;
     width: 100%;
     display: flex;
     flex-direction: column;
    }

  nav .logo_inscr{
     margin-left: 80px;
     padding: 10px;
     width: 150px;
     height: 80px;
  }
 
  nav .trait_bleu{
     height: 25%;
     width: 100%;
     background-color: #000D82;
  }
 
 
   /* ............main inscriptioninfos ....... */

.mainone{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainone div{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .mainInscription{
     height: 380px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2px;
 }
 
 .mainSecond{
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
 }


 
#pI{
    height: 30px;
    width: 40px;
    border-radius: 50% ;
    color: white;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pI2{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-radius: 50%;
    border-color: green;
    border-style: dotted;
    color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}


 .form-groupInscri{
     display: flex; 
     flex-direction: column;
     padding: 10px;
     color: #000D82;
 }
 
 .form-groupLogo{
     width: 30px;
     width: 250px;
     display: flex; 
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     color: #000D82;
     border: 1px dashed black;
 }
 
 .form-control2{
     height: 30px;
     width: 550px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }


.form-groupInscriAdresse{
     display: flex;
     flex-direction: column;
     padding: 10px;
     color: #000D82;
}

.Adresse{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control3{
     height: 30px;
     width: 127px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
    
 }

.btninscri{
     height: 30px;
     width: 100px;
     color: #000D82;
     border : 1px solid #000D82;
     border-radius: 5px;
     background-color: #FFF;
}

.btninscri2{
     height: 30px;
     width: 100px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
}


.footerinscri{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#btn3{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}




   /* .....................main inscriptionacces .......................... */


.mainSecondSer1{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mainSecondSer2{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;

}

#entete{
    width:800px;
    height: 10px;   
}

.btninscriAjL{
    height: 30px;
    width: 135px;
    color: white;
    border-radius: 5px;
    background-color: #000D82;
}

.tete{
    height: 30px;
    width: 127px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

.tete th{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

tr{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: gray;
}


/* n                                 dg d                              dd                      ddd        */

nav .nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: rgb(15, 121, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}


nav .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

nav .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

nav .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav .search button img {
    width: 30px;
    height: 30px;
}

nav .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav .user img {
    width: 40px;
    height: 40px;
}

nav .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

nav .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: #f05462;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}




.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}



.seconnecter form {
  display: flex;
  margin: auto;
  width: 90%;
  height: 52%;
  display: flex;
  justify-content: space-around;
}
.seconnecter input {
  padding: 10px;
  border: 2px solid #000d82;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
}
.seconnecter button {
  width: 15%;
  height: 50%;
  border-radius: 10px;
  background-color: #1d5c00;
  color: aliceblue;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

nav .traitbleu {
  width: 100%;
  height: 20%;
  background-color: #000d82;
  border: none;
}

.contener {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contener .RetrouverMotDePasse {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}
.contener .RetrouverMotDePasse h2 {
  font-size: 35px;
}
.contener .RetrouverMotDePasse .cadreEmail {
  width: 100%;
  height: 60%;
  background-color: #000d82;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contener .RetrouverMotDePasse .cadreEmail .cadreEmail0 {
  width: 90%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contener .RetrouverMotDePasse .cadreEmail .cadreEmail0 .titre {
  width: 94%;
  height: 30%;
  font-size: 33px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.cadreEmail .cadreEmail0 .titre h6 {
  font-weight: 100px;
}

.contener .RetrouverMotDePasse .cadreEmail .form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contener .RetrouverMotDePasse .cadreEmail .form form {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contener .RetrouverMotDePasse .cadreEmail .form input {
  height: 75%;
  padding: 10px;
  border: 2px solid #000d82;
  border-radius: 10px;
  color: #636363;
  font-size: 20px;
  border: none;
}
.contener .RetrouverMotDePasse .cadreEmail .form a {
  width: 25%;
  height: 100%;
  text-decoration: none;
}
.contener .RetrouverMotDePasse .cadreEmail .form button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000d82;
  font-size: 25px;
  font-weight: bold;
  border: none;
  text-align: center;
}
.contener .RetrouverMotDePasse a {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  /* text-decoration: none; */
}

