* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-align: center;
    text-decoration: none;
}



/* css de la nav bar */

nav {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
   }

nav .nav{
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
}

nav .trait_bleu{
    height: 30px;
    width: 100%;
    background-color: #000D82;
 }


nav .nav .search {
    padding-top: 30px;
    flex: 2;
    display: flex;
    justify-content: center;
}

nav .nav .search input[type=text] {
    border: solid;
    background: #f1f1f1;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

nav .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
}

nav .nav .search button img {
    width: 30px;
    height: 40px;
}

nav .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav .user img {
    width: 40px;
    height: 40px;
}

nav .nav .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

nav .nav .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    background: #f05462;
    color: white;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

 /* div_logo et logo  */

nav .div_logo{
    padding-left: 100px;
    width: 100%;
    height: 90px;
 }

.div_logo img {
    height: 85px;
    width: 180px;
  }


  
 /* ..................................Header Connnexion........................................................... */
 .header{
     height: 150px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000D82 ;
 }
 
 .header img {
     height: 60%;
     width: 200px;
   }

 /* ..................................................Main Connexion.......................................... */

.mainConnexion{
     height: 440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     padding-top: 60px;
 }
 
 .connexion, .colocations {
     padding: 10px;
     height: 300px;
     width: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .bleu{
    margin-bottom: 30px;
    font-size: 40px;
    color: #000D82;
 }
 
 .form-group {
     margin-bottom: 15px;
 }
 
 .form-control{
     height: 30px;
     width: 450px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }
 
 .colocations  .btn {
     margin-top: 10px;
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #000D82;
     border: none;
 }
 
 
 .btn1{
     height: 30px;
     width: 460px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
     border: none;
 }
 
 .checkboxConnecion{
     display: flex;
     justify-content: space-between;
     height: 30px;
     width: 450px;
     padding: 10px;
     color: gray;
 }
.colocations hr{
    border : 1px solid #CCC;
}


/* mot de passe oublié */

main {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
} 

main .contener_form{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


main .form{
    width: 100%;
    padding: 30px;
    display: flex;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form input {
    margin-top: 10px;
    width: 400px;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .form1{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color:#000D82;
}

main .form1 input {
    margin-top: 10px;
    width: 400px;
    height: 30px;
    padding: 20%px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }

main .contener_form h2,p{
    color: #000D82;
    margin-bottom: 10px;
}

main .form a, .form1 a {
    width: 150px;
    height: 30px;
    margin-top: 28px;
    margin-right: 10px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1D5C00;
}

 
/* trait de progression inscription */

.mainone ul {
    padding-top: 30px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainone ul .trait1{
    border-color: #1D5C00;
    border-style: dotted;
    border-width: 2px;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

.mainone ul .trait2{
    background-color: #1D5C00;
    margin-top: 13px;
    height: 5px;
    width: 100px;
}

#pI{
    height: 30px;
    width: 40px;
    border-radius: 50% ;
    color: white;
    background-color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pI2{
    height: 30px;
    width: 40px;
    border-radius: 50%;
    border-color: green;
    border-style: dotted;
    color: #1D5C00;
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* ............main inscriptioninfos ....... */


.mainone div{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .mainInscription{
     height: 380px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2px;
 }
 
 .mainSecond{
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .form-groupInscri{
     display: flex; 
     flex-direction: column;
     padding: 10px;
     color: #000D82;
 }
 
 .form-groupLogo{
     width: 30px;
     width: 250px;
     display: flex; 
     flex-direction: column;
     padding: 10px;
     margin: 10px;
     color: #000D82;
     border: 1px dashed black;
 }
 
 .form-control2{
     height: 30px;
     width: 550px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
 }


.form-groupInscriAdresse{
     display: flex;
     flex-direction: column;
     padding: 10px;
     color: #000D82;
}

.Adresse{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control3{
     height: 30px;
     width: 127px;
     color: black;
     border-radius: 5px;
     border : 3px solid #000D82;
    
 }

.btninscri{
     height: 30px;
     width: 100px;
     color: #000D82;
     border : 1px solid #000D82;
     border-radius: 5px;
     background-color: #FFF;
}

.btninscri2{
     height: 30px;
     width: 100px;
     color: white;
     border-radius: 5px;
     background-color: #1D5C00;
}


.footerinscri{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#btn3{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}


/* .....................main inscriptionacces .......................... */


.mainSecondSer1{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mainSecondSer2{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;

}

#entete{
    width:800px;
    height: 10px;   
}

.btninscriAjL{
    height: 30px;
    width: 135px;
    color: white;
    border-radius: 5px;
    background-color: #000D82;
}

.tete{
    height: 30px;
    width: 127px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

.tete th{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: #000D82;
}

tr{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border : 3px solid #000D82;
    color: gray;
}



/*  MON HôPITAL */


/* n                                 dg d                              dd                      ddd        */


/* 




.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
    color: #f05462;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}




.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}



.seconnecter form {
  display: flex;
  margin: auto;
  width: 90%;
  height: 52%;
  display: flex;
  justify-content: space-around;
}
.seconnecter input {
  padding: 10px;
  border: 2px solid #000d82;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
}
.seconnecter button {
  width: 15%;
  height: 50%;
  border-radius: 10px;
  background-color: #1d5c00;
  color: aliceblue;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

nav .traitbleu {
  width: 100%;
  height: 20%;
  background-color: #000d82;
  border: none;
} */

