{% extends '/base.html' %} 

{%block select%}
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    {% include 'elements/sidebaradmin.html' %}
    <div class="container-admin">
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="cards">
                <div class="cards-center">
                    <div class="card">
                        <div class="box">
                            <h1>{{nbrdemande}}</h1>
                            <h3>Demandes</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{{ url_for('static',filename='./img/inscrit.png')}}" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>{{nbrtransfert}}</h1>
                            <h3>Transferts</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{{ url_for('static',filename='./img/transfert.png')}}" alt="icône transfert">
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>{{nbrreclamation}}</h1>
                            <h3>Réclamations</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{{ url_for('static',filename='./img/reclamation.png')}}" alt="">
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>{{nbrinscrit}}</h1>
                            <h3>Inscrits</h3>
                        </div>
                        <div class="icon-case">
                            <img src="{{ url_for('static',filename='./img/demande.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Historiques des transferts</h2>
                        <a href="{{url_for('historique')}}" class="btn">Voir plus</a>
                    </div>
                    <table>
                        <thead>
                            <th>Départ</th>
                            <th>Destination</th>
                            <th>Service</th>
                            <th>État du patient</th>
                            <th>Date&Heure</th>
                        </thead>
                        <tbody>
                            {% for row in historique %}
                                  <tr>
                                      <td> {{ row[0] }} </td>
                                      <td> {{ row[1] }} </td>
                                      <td> {{ row[2] }} </td>
                                      <td> {{ row[3] }} </td>
                                      <td> {{ row[4] }} </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>Nouvelles demandes</h2>
                        <a href="{{url_for('demande')}}" class="btn">Voir plus</a>
                    </div>
                    <table>
                        <thead>
                            <th>Profile</th>
                            <th>Nom</th>
                            <th>Matricule</th>
                            <th>Téléphone</th>
                            <th>voir</th>
                        </thead>
                        <tbody>
                            {% for row in inscritrec %}
                                  <tr>
                                      <td><img src="{{ url_for('static',filename='./img/user.png')}}" alt="Profile"></td>
                                      <td> {{ row[1] }} </td>
                                      <td> {{ row[2] }} </td>
                                      <td> {{ row[3] }} </td>
                                      <td><a href="{{url_for('monprofiladmin', item_id=row[0])}}" class="btnX">Voir</a></td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%endblock%}