{% extends '/base.html' %} 

{%block select%}
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    <div class="side-menu">
        <ul>
            <li><img src="{{ url_for('static',filename='./img/dashboard (2).png')}}" alt="">&nbsp; <span>Dashboard</span> </li>
            <li><img src="{{ url_for('static',filename='./img/reading-book (1).png')}}" alt="">&nbsp;<span>Histori</span> </li>
            <li><img src="{{ url_for('static',filename='./img/teacher2.png')}}" alt="">&nbsp;<span>Teachers</span> </li>
            <li><img src="{{ url_for('static',filename='./img/school.png')}}" alt="">&nbsp;<span>Schools</span> </li>
        </ul>
    </div>
    <div class="container">
       
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>0000</h1>
                        <h3>Inscrits</h3>
                    </div>
                    <div class="icon-case">
                        <img src="{{ url_for('static',filename='./img/inscrit.png')}}" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>0000</h1>
                        <h3>Transferts</h3>
                    </div>
                    <div class="icon-case">
                        <img src="{{ url_for('static',filename='./img/transfert.png')}}" alt="icône transfert">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>0000</h1>
                        <h3>Réclamations</h3>
                    </div>
                    <div class="icon-case">
                        <img src="{{ url_for('static',filename='./img/reclamation.png')}}" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>0000</h1>
                        <h3>Demandes</h3>
                    </div>
                    <div class="icon-case">
                        <img src="{{ url_for('static',filename='./img/demande.png')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Historiques des transferts</h2>
                        <a href="#" class="btn">Voir plus</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>School</th>
                            <th>Amount</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>Nouvaux inscrits</h2>
                        <a href="#" class="btn">Voir plus</a>
                    </div>
                    <table>
                        <tr>
                            <th>Profile</th>
                            <th>Nom</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename='./img/user.png')}}" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename='./img/user.png')}}" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename='./img/user.png')}}" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><a href="#" class="btn">Voir</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
{%endblock%}