{% extends '/base.html' %} 

{%block select%}
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    {% include 'elements/sidebaradmin.html' %}
    <div class="container">
        <div class="content-2">
            <div class="recent-payments">
                <table>
                    <div class="title">
                        <caption>Historiques des transferts</caption>
                    </div>
                    <thead>
                        <th>Départ</th>
                        <th>Destination</th>
                        <th>Service</th>
                        <th>État du patient</th>
                        <th>Date</th>
                        <th>Heure</th>
                    </thead>
                    <tbody>
                        {% for row in data %}
                              <tr>
                                  <td> {{ row[0] }} </td>
                                  <td> {{ row[1] }} </td>
                                  <td> {{ row[2] }} </td>
                                  <td> {{ row[3] }} </td>
                                  <td> {{ row[4] }} </td>
                                  <td> {{ row[5] }} </td>
                              </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock%}