{% extends '/base.html' %} 

{%block select%}
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    {% include 'elements/sidebaradmin.html' %}
    <div class="container">
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>La liste des établissement sanitaire</h2>
                    <a href="#" class="btn">Voir plus</a>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>School</th>
                        <th>Amount</th>
                        <th>Option</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">Voir</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{%endblock%}