{% extends '/base.html' %} 

{%block select%}
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    {% include 'elements/sidebaradmin.html' %}
    <div class="container">
        <div class="content-X">
            <div class="inscrit">
                <table>
                    <caption>Liste des établissements inscrits</caption>
                    <thead>
                        <th>Matricule</th>
                        <th>Nom d'établissement</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Voir Profil</th>
                    </thead>
                    <tbody>
                        {% for row in data %}
                              <tr>
                                  <td> {{ row[1] }} </td>
                                  <td> {{ row[2] }} </td>
                                  <td> {{ row[3] }} </td>
                                  <td> {{ row[4] }}, {{ row[5] }}, {{ row[6] }} </td>
                                  <td> {{ row[7] }} </td>
                                  <td>
                                      <button class="btnX"><a href="{{url_for('viewprofiladmin', item_id=row[0])}}">voir</a></button>
                                  </td>
                              </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock%}