{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/navadmin.html' %}
{%endblock%}

{%block content %}
    <div class="profil-view">
        <div class="view-main">
            <form method='POST'>
                <div class="view-div">
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{message}}</div>
                    {% endfor %}
                    <h2>Profil</h2>
                </div>
                <p>Information sur l'établissement</p>
                <div class="view-divBravo">
                    <div class="divBravo">
                        <div class="profile-insertlogo">
                            <img src="{{ url_for('static',filename=lien)}}"  alt="logo">
                        </div>
                    </div>
                    <div class="divBravo2">
                        <div class="input-profile">
                            <label for="username">Nom d’utilisateur :</label>
                            <input type="text" name="usrname" class="input-controlProfi" id="username" value= "{{data[1]}}" placeholder="" readonly>
                        </div>
                        <div class="input-profile">
                            <label for="telephone">Téléphone :</label>
                            <input type="tel" name="Téléphone" class="input-controlProfi" id="telephone" value="{{data[2]}}" placeholder="" readonly>
                        </div>
                        <div class="input-profile">
                            <label for="nom">Nom d’établissement sanitaire :</label>
                            <input type="text" name="name" class="input-controlProfi" id="nom" value="{{data[3]}}" placeholder="" readonly>
                        </div>
                        <div class="input-profile">
                            <label for="nummatricule">Numéro d'immatriculation de l'établissement :</label>
                            <input type="text" name="matricule" class="input-controlProfi" id="nummatricule" value="{{data[4]}}" placeholder="" readonly>
                        </div>
                        <div class="input-profile">
                            <label for="username">Adresse :</label>
                            <div class="Adresse">
                                <select class="input-controlprofil" name="region" id="region">
                                    <option value={{data[9]}}>{{ data[10] }}</option>
                                </select>
                                <select class="input-controlprofil" name="Département" id="Département">
                                    <option value={{data[7]}}>{{ data[8] }}</option>
                                </select>
                                <select class="input-controlprofil" name="Commune" id="Commune">
                                    <option value={{data[5]}}>{{ data[6] }}</option>
                                </select>
                                <input type="text" class="input-controlprofil" id="position" name="localisation" placeholder="Localisation" readonly>
                            </div>
                        </div>
                        <div class="input-profile">
                            <label for="email">E-mail :</label>
                            <input type="text" name="mail" class="input-controlProfi2" id="email" value="{{data[12]}}" readonly>
                        </div>
                    </div>
                </div>
                <div class="view-main2">
                    <table>
                        <caption>Liste des services de l'établissement</caption>
                        <thead>
                            <th>Services</th>
                            <th>Capacité d’accueil</th>
                        </thead>
                        <tbody>
                            {% for row in services %}
                                <tr>
                                    <td> {{ row[0] }} </td>
                                    <td> {{ row[1] }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="BtnW">
                    <button class="BtnW2"><a href="{{url_for('listeinscrit')}}">Retour</a></button>
                </div>
            </form>
        </div>
    </div>
{%endblock%}