{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/navelement.html' %} 
{%endblock%}

{%block content %}
<div class="container">
    <div class="confirme_transfert">
        <div class="confirme_transfert1">
            <div class="title">
                <h2>veillez vérifié les details du tranfert du patient et confirmé !</h2>
            </div>
            <form method='POST'>
                <div class="form-groupInscri">
                    <label for='Etabdep'>Etablissement de depart :</label>
                    <input type="text" name='Etabdep' value="{{Etabdep[1]}}" placeholder='Etabdep' readonly>
                </div>
                <div class="form-groupInscri">
                    <label for="Etabacc">Etablissement d'accueil :</label>
                    <input type="text" name="Etabacc" value="{{transf[1]}}" placeholder="Etabacc" readonly>
                </div>
                <div class="form-groupInscri">
                    <label for="Service">Service d'affectation:</label>
                    <input type="text" name='Service' value="{{transf[2]}}" placeholder="Service d'affectation" readonly>
                </div>
                <div class="form-groupInscri">
                    <label for="Etatpat">Etat du patient:</label>
                    <select name="Etatpat" required>
                        <option disabled selected >selectionez</option>
                        {% for cont in etatpatient  %}
                             <option value={{cont[0]}}>{{ cont[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="javascript:history.back()">Revenir en arrière</a>
                <button type="submit" > confirmer </button>
            </form>
        </div>
    </div>
</div>
{%endblock%}