{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/navelement.html' %} 
{%endblock%}

{%block content %}
<div class="container">
    <div class="content-2">
        <div class="cardsm">
            <div class="cardm">
                <form method="POST">
                    <select name="selected_value">
                        <option disabled selected >par services</option>
                        {% for cont in nomservices  %}
                             <option >{{ cont[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="cardm">
                <form method="POST">
                    <select name="selected_value">
                        <option disabled selected >par communes</option>
                        {% for cont in communes  %}
                             <option >{{ cont[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="cardm">
                <form method="POST">
                    <select name="selected_value">
                        <option >par regions</option>
                        {% for cont in regions  %}
                             <option >{{ cont[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="cardm">
                <form method="POST">
                    <select name="selected_value">
                        <option >par departements</option>
                        {% for cont in departements %}
                             <option >{{ cont[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="disponibilite">
            
            <form method="post" action="{{ url_for('validertransfert') }}">
                <div class="title">
                    <h2>Disponibilité dans les hopitaux</h2>
                    <input type="submit" value="Valider">
                </div>
                
                <table>
                    <tr>
                        <th>select</th>
                        <th>Services</th>
                        <th>hopital</th>
                        <th>departements</th>
                        <th>communes</th>
                        <th>places disponibles</th>
                        <th>Fils d'attente</th>
                    </tr>
                    {% for row in services %}
                    <tr>
                        <td><input type="radio" name="selectedService" value="{{ row[0] }}" required></td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[2]-row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
</div>
{%endblock%}