{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/navelement.html' %} 
{%endblock%}

{%block filter %} 
    {% include 'elements/filter.html' %} 
{%endblock%}

{%block content %}
    <div class="container">
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Mettre à jour les disponibilités</h2>
                </div>
                <table>
                    <tr>
                        <th>Services</th>
                        <th>Nombres de place</th>
                        <th>Places occuppées</th>
                        <th>File d'attente</th>
                        <th>Action</th>
                    </tr>
                    {% for row in services %}
                    <tr>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>
                            <a  href="{{ url_for('moins', idservice=row[0]) }}" ><img src="{{ url_for('static',filename='./img/reduit.png')}}" alt=""></a>
                            <a  href="{{ url_for('plus', idservice=row[0]) }}" ><img src="{{ url_for('static',filename='./img/plus.png')}}" alt=""></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
  </div>
{%endblock%}