<div class="img-case">
    <img src="{{ url_for('static',filename='./img/user.pn')}}" alt="">
</div>
<div class="search">
    <input type="text" placeholder="Search..">
    <button type="submit"><img src="{{ url_for('static',filename='./img/search.png')}}" alt=""></button>
</div>
<div class="user">
    <a href="#" class="btn">Mon Hôpital</a>
    <a href="#" class="btn">Transfert</a>
    <a href="#" class="btn"><img src="{{ url_for('static',filename='./img/notifications.png')}}" alt=""></a>
    <a href="#" class="btn">Profil</a>
</div>