<div class="side-menu">
    <ul>
        <li><img src="{{ url_for('static',filename='./img/dashboard (2).png')}}" alt=""><span>Dashboard</span> </li>
        <li><img src="{{ url_for('static',filename='./img/reading-book (1).png')}}" alt=""><span>Histori</span> </li>
        <li><img src="{{ url_for('static',filename='./img/teacher2.png')}}" alt=""><span>Teachers</span> </li>
        <li><img src="{{ url_for('static',filename='./img/school.png')}}" alt=""><span>Schools</span> </li>
    </ul>
</div>