{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class="mainone">
    <ul>
        <li id="pI"> <h3>1</h3> </li> 
        <div class='trait1'></div>
        <li id="pI"> <h3>2</h3> </li>
        <div class='trait1'></div>
        <li id="pI"> <h3>3</h3> </li>
    </ul>
</div>
<div class="mainInscription">
    <div class="mainSecond">
        <form>
            <div class="form-groupInscri">
                <label for="username">Nom d’utilisateur :</label>
                <input type="text" class="form-control2" id="username" placeholder="">
            </div>
            <div class="form-groupInscri">
                <label for="pwd">Mot de passe :</label>
                <input type="password" class="form-control2" id="pwd" placeholder="">
            </div>
            <div class="form-groupInscri">
                <label for="pwd">Répéter le Mot de passe  :</label>
                <input type="password" class="form-control2" id="pwd" placeholder="">
            </div>
        </form>
    </div>
</div>
<div class="footerinscri">
    <div id="btn3">
        <a href='/ListeService' class="btninscri">< Précedant </a>
        <a href='/inscriptionacces' class="btninscri2">Valider ></a>
    </div>
</div>
{%endblock%}