{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class='infos'>
    <div class="mainone">
        <ul>
            <li id="pI"> <h3>1</h3> </li> 
            <div class='trait2'></div>
            <li id="pI"> <h3>2</h3> </li>
            <div class='trait2'></div>
            <li id="pI"> <h3>3</h3> </li>
        </ul>
    </div>
    <div class="mainInscription">
        <div class="mainSecond">
            <form method='POST'>
                <div class="form-groupInscri">
                    <label for="username">Nom d’utilisateur :</label>
                    <input type="text" class="form-control2" name="username"  placeholder="Nom d’utilisateur" required>
                </div>
                <div class="form-groupInscri">
                    <label for="email">E-mail :</label>
                    <input type="email" class="form-control2" name="email"  placeholder="email" required>
                </div>
                <div class="form-groupInscri">
                    <label for="password">Mot de passe :</label>
                    <input type="password" class="form-control2" name="password" placeholder="Mot de passe" required>
                </div>
                <div class="form-groupInscri">
                    <label for="password1">Répéter le Mot de passe  :</label>
                    <input type="password" class="form-control2" name="password1" placeholder="Mot de passe" required>
                </div>
                <div id="btn3">
                    <a href='/ListeService' class="btninscri">< Précedant </a>
                    <button type="submit" class="btninscri2">Valider ></button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}