{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class='infos'>
    <div class="mainone">
        <ul>
            <li id="pI"> <h3>1</h3> </li> 
            <div class='trait1'></div>
            <li id="pI2"> <h3>2</h3> </li>
            <div class='trait1'></div>
            <li id="pI2"> <h3>3</h3> </li>
        </ul>
    </div>
    {% for message in get_flashed_messages() %}
     <div class="flash">{{message}}</div>
    {% endfor %}
    <div class="mainInscription">
        <div class="mainSecond">
            <form method='POST' enctype="multipart/form-data">
                <div class="form-groupLogo">
                    <label for="logo">Télécharger votre logo</label>
                    <input type="file" id="logo" accept="image/*" name="logo">
                </div>

                <div class="form-groupInscri">
                    <label for="name">Nom d’établissement sanitaire</label>
                    <input type="text" class="form-control2" name="Nom" id="name" spellcheck="true" placeholder="Nom d’établissement sanitaire" required>
                </div>
                <div class="form-groupInscri">
                    <label for="Matricule">Numéro d'immatriculation de l'établissement</label>
                    <input type="text" class="form-control2" name="Num" id="Matricule" placeholder="Matricule" required>
                </div>
                <div class="form-groupInscri">
                    <label for="Telephone">Telephone</label>
                    <input type="text" class="form-control2" name="Tel" id="Telephone" placeholder="Telephone" required>
                    
                </div>
                <div class="form-groupInscri">
                    <label for="username">Adresse:</label>
                </div>
                <div class="form-groupInscriAdresse">
                    
                    <div class="Adresse">
                        <div class="form-control3"> 
                            <label for="selected_value1">Choisissez une region :</label>
                            <select name="selected_value1">
                                <option >option</option>
                                {% for cont in Region  %}
                                    <option value={{ cont[0] }}>{{ cont[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-control3"> 
                            <label for="selected_value2">Choisissez un département :</label>
                            <select name="selected_value2">
                                <option >option</option>
                                {% for cont in Departement  %}
                                    <option value={{ cont[0] }}>{{ cont[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-control3"> 
                            <label for="selected_value3">Choisissez un commune :</label>
                            <select name="selected_value3">
                                <option >option</option>
                                {% for cont in Commune %}
                                    <option value={{ cont[0] }}>{{ cont[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footerinscri">
                    <div id="btn3">
                        <a href='/' class="btninscri"> Précedant </a>
                        <button type="submit" class="btninscri2">Suivant</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}