{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class="mainone">
    <ul>
        <li id="pI"> <p>1</p> </li> 
        <div class='trait2'></div>
        <li id="pI"> <p>2</p> </li>
        <div class='trait1'></div>
        <li id="pI2"> <p>3</p> </li>
    </ul>
</div>
<div class="mainInscription">
    <div class="mainSecond">
        <div class="mainSecondSer1">
            <a href='/AjoutService' class="btninscriAjL">Ajouter un service </a>
        </div>
        <div class="mainSecondSer2">
            <table>
                <tr>
                    <th>id</th>
                    <th>Services</th>
                    <th>Capacité d’accueil</th>
                    <th>Actions</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>
                            <a class="modif">Modifier</a>
                            <a class="suppr" >Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="footerinscri">
    <div id="btn3">
        <a href='/inscriptioninfos' class="btninscri">< Précedant </a>
        <a href='/inscriptionacces' class="btninscri2">Suivant ></a>
    </div>
</div>
{%endblock%}