{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class='infos'>
    <div class="mainone">
        <ul>
            <li id="pI"> <h3>1</h3> </li> 
            <div class='trait2'></div>
            <li id="pI"> <h3>2</h3> </li>
            <div class='trait1'></div>
            <li id="pI2"> <h3>3</h3> </li>
        </ul>
    </div>
    <div class="mainInscription">
        <div class="mainSecond">
            <div class="mainSecondSer1">
                <button class="btn6-row"><a href="{{url_for('ajoutservice')}}" >Ajouter un service </a></button>
            </div>
            <div class="mainSecondSer2">
                <table>
                    <caption>Liste des services enregistrés</caption>
                    <thead>
                        <th>Services</th>
                        <th>Capacité d’accueil</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for row in services %}
                              <tr>
                                  <td>{{ row[2] }}</td>
                                  <td>{{ row[1] }}</td>
                                  <td>
                                      <button class="btn4-row"><a href="{{url_for('modifierservice', item_id=row[0])}}">Modifier</a></button>
                                      <button class="btn5-row"><a href="{{url_for('confirmsupservice', item_id=row[0])}}">Supprimer</a></button>
                                  </td>
                              </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footerinscri">
        <div id="btn3">
            <a href='/inscriptioninfos' class="btninscri">< Précedant </a>
            <a href='/inscriptionacces' class="btninscri2">Suivant ></a>
        </div>
    </div>
</div>
{%endblock%}