{% extends '/base.html' %} 

{%block select%} 
    {% include 'elements/logodiv.html' %} 
{%endblock%}

{%block content %}
<div class='infos'>
    <div class="mainInscription">
        <div class="mainSecond">
            <form>
                <div class="form-groupInscri">
                    <label for="username">Nom du service :</label>
                    <input type="text" class="form-control2" id="username" placeholder="">
                </div>
                <div class="form-groupInscri">
                    <label for="username">Capacité d’accueil :</label>
                    <input type="text" class="form-control2" id="username" placeholder="Capacité d’accueil" required>
                </div>
                <div id="btn3">
                    <a href='/ListeService' class="btninscri">< Précedant </a>
                    <a href='/ListeService' class="btninscri2">Ajout ></a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}